.card::before {
    border: inherit;
    border-radius: inherit;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle 200px at var(--x) var(--y), rgba(255, 255, 255, 0.2), transparent);
    opacity: 0;
    z-index: 2;
    top: 0;
    left: 0;
    transition: opacity 120ms ease-in-out; 
}
.card:hover::before {
    opacity: .4;
}
.card:hover {
    transform: scale(1.02);
    transition: transform 120ms ease-in-out;
}

@media (width <= 65rem) 
{
    .card:hover::before
    {
        opacity: 0;
    }
}
